force-app/main/default/flows/ASCII_Art_Converter-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AsciiArtService</name>
        <label>AsciiArtService</label>
        <locationX>112</locationX>
        <locationY>178</locationY>
        <actionName>ASCIIArtConverter_asciiart__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>asciiart_input_message</name>
            <value>
                <elementReference>MessageEdit</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>MessageInAsciiArt</assignToReference>
            <name>ASCIIArtResponse_art_200</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>ASCII Art Converter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASCII Art Converter</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>111</locationX>
        <locationY>288</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MessageInAsciiArt__c</field>
            <value>
                <stringValue>&lt;pre&gt;&lt;code&gt;{!MessageInAsciiArt}&lt;/code&gt;&lt;/pre&gt;</stringValue>
            </value>
        </inputAssignments>
        <object>Message__c</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>303</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>{!X8328a6747a49bc91c54f6d88d99316363175f8e_16d9NotFound}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>GetMessage</name>
        <label>GetMessage</label>
        <locationX>103</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AsciiArtService</targetReference>
        </connector>
        <fields>
            <name>TextToConvert</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MessageEdit</elementReference>
            </defaultValue>
            <fieldText>TextToConvert</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>GetMessage</startElementReference>
    <variables>
        <name>MessageEdit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageInAsciiArt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
